<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Danh sách lớp</title>
<style>
        table {
            width: 80%;
            border-collapse: collapse;
        }

        th, td {
            padding: 10px;
            border: 1px solid #ccc;
            text-align: center;
        }

        a {
            margin: 5px;
        }
    </style>

</head>

<body>

    <h1>Danh sách lớp</h1>


    <a href="/classes/create">
        + Thêm lớp
    </a>


    <br><br>


    <table>

        <thead>

            <tr>
                <th>ID</th>
                <th>Mã lớp</th>
                <th>Tên lớp</th>
                <th>Mô tả</th>
                <th>Chức năng</th>
            </tr>

        </thead>


        <tbody>


            <% classes.forEach(classItem => { %>


                <tr>

                    <td>
                        <%= classItem.id %>
                    </td>


                    <td>
                        <%= classItem.class_code %>
                    </td>


                    <td>
                        <%= classItem.class_name %>
                    </td>


                    <td>
                        <%= classItem.description %>
                    </td>


                    <td>

                        <a href="/classes/<%= classItem.id %>">
                            Xem
                        </a>


                        <a href="/classes/<%= classItem.id %>/edit">
                            Sửa
                        </a>


                        <a 
                            href="/classes/<%= classItem.id %>/delete"
                            onclick="return confirm('Bạn có chắc muốn xóa?')">

                            Xóa

                        </a>


                    </td>


                </tr>


            <% }) %>


        </tbody>


    </table>


</body>

</html>